services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: medisure_api
    env_file:
      - ./api/.env.api
    ports:
      - "4010:4010"
    environment:
      - PORT=4010
    networks:
      - mediapp_mediapp_net
    restart: unless-stopped

networks:
  mediapp_mediapp_net:
    external: true
    name: mediapp_mediapp_net